* {
    .tabs {
        width: 100%;
        box-sizing: border-box;
        display: grid;
        justify-content: space-between;
        position: relative;
        &:after {
            transition: all 0.5s ease-in-out;
            content: "";
            width: 1.875rem;
            height: 3px;
            border-radius: 92px;
            position: absolute;
            background: var(--filter-popup-tab-selected-after);
            top: calc(100% - 3px);
            left: var(--selected-bar-left);
        }

        .tab {
            padding: 0.75rem 0;
            font-size: 1rem;
            font-weight: 400;
            color: var(--filter-popup-tab-color);
            cursor: pointer;
            -webkit-tap-highlight-color: transparent;
            // transition: all 0.3s ease-in-out;
            padding-right: 2rem;
            &.selected {
                font-weight: 600;
                color: var(--filter-popup-tab-selected-color);
            }
        }
    }
}
