$blue: #162143;
$blue_01: #192757;
$blue_02: #516094;
$bule_03: #2a59e0;
$white_01: #e8e8e8;
$white_02: #d9d9d9;
$white: #fff;
$purple: #ff409a;
$gray_1: #303131;
$gray_2: #717171;
$gray_3: #737373;
$gray_4: #8e8e8e;

* {
    --app-background-color: #{$blue};
    --app-name-color: #{$white};
    --app-tag-name-color: #{$purple};
    --topic-tile-background-color: #{$blue_01};
    --saved-date-read-time: #{$blue_02};
    --topic-tile-title: #{$blue_02};
    --topic-tile-content: #{$white_01};
    --selected-topic-title: #{$white};
    --selected-topic-saved-date: #{$blue_02};
    --selected-topic-description: #{$white_02};
    --selected-topic-icon-text: #{$white};
    --category-pill-selected-background: #{$bule_03};
    --category-pill-selected-text: #{$white};
    --category-pill-text: #{$bule_03};
    --category-pill-border-color: #{$bule_03};
    --app-footer-background: #{$blue};
    --footer-menu-icon-label: #{$blue_02};
    --footer-menu-background: linear-gradient(
        90deg,
        #192757 0%,
        #1b2756 69.6%,
        #2c2754 78.09%,
        #512a6f 86.95%,
        #d63bd7 98.79%,
        #712d82 101.81%
    );

    --filter-popup-background: linear-gradient(180deg, #b0ebf8 0%, #ffffff 100%);
    --filter-popup-tab-color: #{$gray_1};
    --filter-popup-tab-selected-color: #{$bule_03};
    --filter-popup-tab-selected-after: linear-gradient(127.68deg, #ff409a 14.19%, #c438ef 76.92%);

    --radio-button-bg-border: #{$bule_03};
    --list-text-color: #{$gray_1};

    --relevance-category-color: #{$bule_03};
    --relevance-selected-category-color: #{$white};
    --relevance-selected-category-bg: #{$bule_03};
    --relevance-disabled-color: #{$gray_4};

    --relevance-info-text-color: #{$gray_3};
    --filter-popup-drawer-bg: #{$blue_01};
}
