* {
    @keyframes show-menu-bar {
        from {
            width: 3.25rem;
        }
        to {
            width: 100%;
        }
    }

    @keyframes hide-menu-bar {
        from {
            width: 100%;
        }
        to {
            width: 3.25rem;
        }
    }

    @mixin show-footer-icon {
        // display: grid;
        opacity: 1;
    }

    .topic-list-footer {
        position: absolute;
        width: 100%;
        background: var(--app-footer-background);
        bottom: 0px;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 100% 100%;
        align-items: center;
        padding: 1rem 1.25rem 1.5rem 0.875rem;
        &::before {
            content: "";
            background: linear-gradient(0deg, #192757, rgba(25, 39, 87, 0));
            position: absolute;
            width: 100%;
            height: 30px;
            top: -30px;
        }
        .categories-pill-list {
            width: 100%;
            height: 3.25rem;
            box-sizing: border-box;
            display: grid;
            grid-template-columns: calc(100% - 3.25rem) 3.25rem;
            align-items: center;
            justify-content: space-between;
            margin: auto;
            position: relative;
            .categories-pill {
                display: flex;
                grid-gap: 0.625rem;
                overflow: auto;
                z-index: 2;
                position: relative;
                &::after {
                    content: "";
                    background: linear-gradient(270deg, #162143 21%, rgba(22, 33, 67, 0.45) 88.64%);
                    width: 20px;
                    height: 100%;
                    position: absolute;
                    top: 0px;
                    right: 0px;
                }

                .category-pill {
                    flex-shrink: 0;
                    display: grid;
                    align-items: center;
                    justify-content: center;
                    height: 2.5rem;
                    padding: 0 1rem;
                    font-size: 0.625rem;
                    border: 1px solid var(--category-pill-border-color);
                    box-sizing: border-box;
                    border-radius: 21px;
                    font-weight: 400;
                    color: var(--category-pill-text);
                    transition: all 0.5s ease-in-out;
                    width: max-content;
                    &.category-pill-selected {
                        background-color: var(--category-pill-selected-background);
                        color: var(--category-pill-selected-text);
                    }
                }
            }
            .footer-menu-container {
                display: grid;
                align-items: center;
                justify-content: flex-end;
                position: absolute;
                right: 0px;
                bottom: 0px;
                height: 100%;
                width: 3.25rem;
                z-index: 1;
                background: linear-gradient(127.68deg, #ff409a 14.19%, #c438ef 101.67%);
                border-radius: 50%;
                transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
                border-radius: 2.688rem;
                // &:not(.show-menu),
                // &:not(.hide-menu) {
                //     .footer-menu-icon {
                //         background: linear-gradient(127.68deg, #ff409a 14.19%, #c438ef 101.67%);
                //     }
                // }
                .footer-menu-icon {
                    @include click-effect;
                    transition: all 0.5s ease-in-out;
                    height: 3.25rem;
                    width: 3.25rem;
                    display: grid;
                    align-items: center;
                    justify-content: center;
                    border-radius: inherit;
                    position: absolute;
                    right: 0px;
                }
                .footer-icons {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr) 3.25rem;
                    grid-gap: 0.5rem;
                    grid-template-rows: 3.25rem;
                    overflow: hidden;
                    container-type: inline-size;
                    .footer-category-icon {
                        display: grid;
                        align-items: center;
                        justify-content: center;
                        opacity: 0;
                        transition: all 0.3s ease-in-out;
                        .icon-with-name {
                            @include click-effect;
                            color: var(--footer-menu-icon-label);
                            font-size: 0.688rem;
                            font-weight: 400;
                            height: 100%;
                            box-sizing: border-box;
                            min-width: 3.25rem;
                            width: 3.25rem;
                            display: grid;
                            align-items: center;
                            align-content: center;
                            justify-items: center;
                            &.icon-with-name {
                                > img {
                                    height: 18px;
                                }
                            }
                        }
                    }

                    @container (min-width: 16.25rem) {
                        .search-icon,
                        .pinned-icon,
                        .filter-icon,
                        .user-icon {
                            @include show-footer-icon;
                        }
                    }
                    @container (min-width: 13rem) {
                        .search-icon,
                        .pinned-icon,
                        .filter-icon {
                            @include show-footer-icon;
                        }
                    }
                    @container (min-width: 9.75rem) {
                        .search-icon,
                        .pinned-icon {
                            @include show-footer-icon;
                        }
                    }
                    @container (min-width: 6.5rem) {
                        .search-icon {
                            @include show-footer-icon;
                        }
                    }
                }
                &.show-menu {
                    z-index: 3;
                    width: 100%;
                    grid-template-columns: 100%;
                    background: var(--footer-menu-background);
                    animation-name: show-menu-bar;
                    animation-duration: 0.5s;
                    animation-timing-function: ease;
                    animation-fill-mode: forwards;
                    .footer-icons {
                        display: grid;
                        .footer-category-icon {
                            transition: all 0.3s ease-in-out;
                        }
                    }
                }
                &.hide-menu {
                    z-index: 3;
                    grid-template-columns: 100%;
                    background: var(--footer-menu-background);
                    animation-name: hide-menu-bar;
                    animation-duration: 0.5s;
                    animation-timing-function: ease;
                    animation-fill-mode: forwards;
                    .footer-icons {
                        display: grid;
                        .footer-category-icon {
                            transition: all 0s ease-in-out;
                        }
                    }
                }
            }
            // .footer-menu-container {
            //     .footer-menu {
            //         height: 3.25rem;
            //         width: 3.25rem;
            //         border-radius: 2.688rem;
            //         display: grid;
            //         transition: all 0.5s ease;
            //         // overflow: hidden;
            //         box-sizing: border-box;
            //         .footer-category-icons {
            //             width: 100%;
            //             height: 100%;
            //             display: grid;
            //             align-items: center;
            //             justify-content: space-between;
            //             overflow: hidden;
            //             grid-template-columns: 10px repeat(4, 1fr);
            //             .footer-category-icon {
            //                 @include click-effect;
            //                 -webkit-tap-highlight-color: transparent;
            //                 color: var(--footer-menu-icon-label);
            //                 font-size: 0.688rem;
            //                 font-weight: 400;
            //                 height: 100%;
            //                 // padding: 0.438rem 0;
            //                 box-sizing: border-box;
            //                 min-width: 3.25rem;
            //                 width: 3.25rem;
            //                 display: grid;
            //                 align-items: center;
            //                 align-content: center;
            //                 justify-items: center;
            //                 &.icon-with-name {
            //                     > img {
            //                         height: 18px;
            //                     }
            //                 }
            //             }
            //         }
            //         .footer-menu-icon,
            //         .overlay-div {
            //             @include click-effect;
            //             transition: all 0.5s ease-in-out;
            //             height: 3.25rem;
            //             width: 3.25rem;
            //             display: grid;
            //             align-items: center;
            //             justify-content: center;
            //             border-radius: inherit;
            //         }
            //         .footer-menu-icon {
            //             position: absolute;
            //             right: 0px;
            //         }
            //     }
            //     &.show-menu {
            //         z-index: 3;
            //         .footer-menu {
            //             grid-template-columns: calc(100% - 3.25rem) 3.25rem;
            //             background: var(--footer-menu-background);
            //             animation-name: show-menu-bar;
            //             animation-duration: 0.5s;
            //             animation-timing-function: ease;
            //             animation-fill-mode: forwards;
            //         }
            //     }

            //     &.hide-menu {
            //         z-index: 3;
            //         .footer-menu {
            //             grid-template-columns: calc(100% - 3.25rem) 3.25rem;
            //             background: var(--footer-menu-background);
            //             animation-name: hide-menu-bar;
            //             animation-duration: 0.5s;
            //             animation-timing-function: ease;
            //             animation-fill-mode: forwards;
            //             .footer-category-icons {
            //                 grid-template-columns: 0.625rem repeat(4, calc((100vw - 5.625rem) / 4));
            //             }
            //         }
            //     }
            // }
        }
    }
}
