* {
    .topic-list-footer {
        position: absolute;
        width: 100%;
        background: var(--app-footer-background);
        bottom: 0px;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 100% 100%;
        align-items: center;

        &::before {
            content: "";
            background: linear-gradient(0deg, #192757, rgba(25, 39, 87, 0));
            position: absolute;
            width: 100%;
            height: 30px;
            top: -30px;
        }
        .categories-pill-list {
            // padding: 1rem 0.875rem 1.5rem 0.875rem;
            padding: 1rem 0 1.5rem 0;
            box-sizing: border-box;
            display: grid;
            align-items: center;
            justify-content: space-between;
            grid-template-columns: 5fr 1fr;
            grid-gap: 0.825rem;
            width: calc(100% - 1.75rem);
            margin: auto;
            position: relative;
            padding-left: 1px;
            .categories-pill {
                display: flex;
                grid-gap: 0.625rem;
                overflow: auto;
                z-index: 2;
                .category-pill {
                    flex-shrink: 0;
                    display: grid;
                    align-items: center;
                    justify-content: center;
                    height: 2.5rem;
                    padding: 0 1rem;
                    font-size: 0.625rem;
                    border: 1px solid var(--category-pill-border-color);
                    box-sizing: border-box;
                    border-radius: 21px;
                    font-weight: 400;
                    color: var(--category-pill-text);
                    transition: all 0.5s ease-in-out;
                    &.category-pill-selected {
                        background-color: var(--category-pill-selected-background);
                        color: var(--category-pill-selected-text);
                    }
                }
            }
            .footer-menu-container {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                position: absolute;
                right: 0px;
                bottom: 0.25rem;
                height: 100%;
                width: 100%;
                z-index: 1;
                .footer-menu {
                    background: linear-gradient(127.68deg, #ff409a 14.19%, #c438ef 101.67%);
                    height: 3.25rem;
                    width: 3.25rem;
                    border-radius: 2.688rem;
                    display: grid;
                    align-items: center;
                    justify-content: center;
                    transition: all 0.5s ease-in-out;
                    grid-template-columns: repeat(5, 1fr);
                    overflow: hidden;
                    .footer-category-icon {
                        @include click-effect;
                        color: var(--footer-menu-icon-label);
                        font-size: 0.688rem;
                        font-weight: 400;
                        height: 100%;
                        justify-items: center;
                        align-items: center;
                        cursor: pointer;
                        padding: 0.438rem 0;
                        box-sizing: border-box;
                        width: 3.25rem;
                        display: none;
                    }
                    .footer-menu-icon {
                        @include click-effect;
                        transition: all 0.5s ease-in-out;
                        height: 3.25rem;
                        width: 3.25rem;
                        display: grid;
                        align-items: center;
                        justify-content: center;
                        background: linear-gradient(127.68deg, #ff409a 14.19%, #c438ef 101.67%);
                        border-radius: inherit;
                    }
                }
                &.show-menu {
                    z-index: 3;
                    .footer-menu {
                        width: 100%;
                        display: flex;
                        grid-template-columns: repeat(5, 1fr);
                        padding-left: 1rem;
                        box-sizing: border-box;
                        border-radius: 2.688rem;
                        background: var(--footer-menu-background);
                        align-items: center;
                        justify-content: space-between;
                        padding-right: 3.25rem;
                        .footer-category-icon {
                            display: grid;
                            flex-shrink: 0;
                        }
                        .footer-menu-icon {
                            position: absolute;
                            right: 0px;
                            background: transparent;
                        }
                    }
                }
            }
        }
        .footer-category-menus-container {
            padding: 1rem 0.813rem 1.5rem 0.813rem;
            box-sizing: border-box;
            transform: translateX(0px);
            transition: all 0.5s ease-in-out;
            &.show-menu {
                transform: translateX(-100%);
            }
            .footer-category-menus {
                display: flex;
                grid-template-columns: repeat(5, 1fr);
                padding: 0.438rem 1.5rem;
                box-sizing: border-box;
                border-radius: 2.688rem;
                background: var(--footer-menu-background);
                align-items: center;
                justify-content: space-between;

                .footer-category-icon {
                    @include click-effect;
                    color: var(--footer-menu-icon-label);
                    font-size: 0.688rem;
                    font-weight: 400;
                    height: 100%;
                    display: grid;
                    justify-items: center;
                    cursor: pointer;
                }
            }
        }
    }
}
