* {
    @keyframes topic-selected {
        from {
            opacity: 0;
            transform: translateY(30px);
        }
        to {
            opacity: 1;
            transform: translateY(0px);
        }
    }
    .selected-topic-actionbar {
        height: 5.625rem;
        padding: 1rem 1.25rem 0 1.25rem;
        box-sizing: border-box;
        position: absolute;
        bottom: 0;
        display: grid;
        grid-template-columns: auto auto;
        width: 100%;
        background-color: var(--app-background-color);
        &::before {
            content: "";
            background: linear-gradient(0deg, #192757, rgba(25, 39, 87, 0));
            position: absolute;
            width: 100%;
            height: 30px;
            top: -30px;
        }
        .back-to-topic-list {
            @include click-effect;
        }
        .share-bookmark-icons {
            display: grid;
            grid-template-columns: auto auto;
            justify-content: end;
            grid-gap: 40px;
            .icon-with-name {
                @include click-effect;
                display: grid;
                height: 40px;
                justify-items: center;
                align-items: center;
                > label {
                    font-size: 0.688rem;
                    font-weight: 400;
                    line-height: 1rem;
                    color: var(--selected-topic-icon-text);
                }
            }
        }
    }
    .selected-topic-list {
        width: 100%;
        height: 100%;
        .selected-topic {
            .swipe-actions-container {
                height: 100%;
                position: fixed;
                width: 100%;
                background: rgba(22, 33, 67, 0.86);
                top: 0px;
                display: grid;
                align-items: center;
                justify-items: center;
                .swipe-actions {
                    width: 80%;
                    aspect-ratio: 1;
                    position: relative;
                    .swipe-action {
                        display: flex;
                        width: max-content;
                        justify-items: center;
                        grid-gap: 0.5rem;
                        position: absolute;
                        color: var(--swipe-action-color);
                        font-size: 0.75rem;
                        font-weight: 400;
                        flex-flow: column;
                        align-items: center;
                        > img {
                            width: 45px;
                        }
                        &.next-news {
                            left: 0;
                            right: 0;
                            margin: auto;
                            flex-flow: column-reverse;
                            > img {
                                rotate: 270deg;
                            }
                        }
                        &.previous-news {
                            bottom: 0;
                            left: 0;
                            right: 0;
                            margin: auto;
                            > img {
                                rotate: 90deg;
                            }
                        }
                        &.list-news {
                            bottom: 0px;
                            top: 0px;
                            margin: auto;
                            height: max-content;
                            > img {
                                rotate: 180deg;
                            }
                        }
                        &.source-page {
                            bottom: 0px;
                            top: 0px;
                            right: 0px;
                            margin: auto;
                            height: max-content;
                            // > img {
                            //     rotate: 180deg;
                            // }
                        }
                    }
                }
                .close-modal {
                    font-size: 1.375rem;
                    font-weight: 600;
                    color: #de3dcc;
                    position: absolute;
                    bottom: 2.938rem;
                }
            }
            width: 100%;
            height: 100%;
            transition: all 0.5s ease-in-out;
            background-color: var(--app-background-color);
            transform: translateY(30px);
            opacity: 0;
            animation-fill-mode: forwards;
            animation-name: topic-selected;
            animation-duration: 0.7s;
            animation-timing-function: ease-in-out;
            .selected-topic-content {
                height: calc(100% - 5.625rem);
                box-sizing: border-box;
                overflow: auto;
                .selected-topic-image {
                    width: 100%;
                    padding: 0.5rem;
                    box-sizing: border-box;
                    border-radius: 4px;
                    > img {
                        width: 100%;
                        height: 100%;
                        border-radius: inherit;
                    }
                }
                .selected-topic-description {
                    padding: 0.625rem 1.25rem;
                    .topic-title {
                        font-size: 1.125rem;
                        font-weight: 600;
                        line-height: 1.5rem;
                        color: var(--selected-topic-title);
                        font-family: Poppins;
                    }
                    .topic-saved-date {
                        font-size: 0.625rem;
                        font-weight: 500;
                        line-height: 0.75rem;
                        color: var(--selected-topic-saved-date);
                        padding-top: 0.25rem;
                        font-family: Poppins;
                    }
                    .topic-description {
                        padding-top: 1.25rem;
                        font-size: 1rem;
                        font-weight: 400;
                        line-height: 1.375rem;
                        color: var(--selected-topic-description);
                        font-family: Poppins;
                    }
                }
            }
        }
    }
}
