* {
    .lists {
        width: 100%;
        .list-item {
            cursor: pointer;
            -webkit-tap-highlight-color: transparent;
            display: flex;
            align-items: center;
            color: var(--list-text-color);
            font-size: 0.875rem;
            font-weight: 400;
            grid-gap: 1.125rem;
            padding: 0.875rem 0;
        }
    }
}
